@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oooh+Baby&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    color: #fffdf3;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0;
    background-color: #fffdf3;
}

/****** Elements ******/

header {
    text-align: left;
    background-color: #5e7a5e;
    color: #fffdf3;
    padding: 30px 40px;
    background-color: #5e7a5e;
}

.banner {
    width: 100%;
}

h1 {
    font-family: "DM Serif Display", serif;
    letter-spacing: 0.1em;
    font-size: clamp(32px, 4vw, 48px);
}

h2 {
    font-family: "Oooh Baby", sans-serif;
    font-size: 36px;
    color: #fffdf3;
}

h4 {
    font-family: "DM Serif Display", serif;
    font-size: 36px;
    color: #394c39;
    text-align: center;
}

h3 {
    font-family: "Oooh Baby", sans-serif;
    font-size: 24px;
    color: #fffdf3;
}

aside {
    text-align: center;
    padding-top: 20;
}

/****** Images ******/

img {
    width: 100%;
}

img.home {
    object-fit: fill;
    border-radius: 0px;
    border: 6px solid #fffdf3;
}

img.circle {
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 999px;
    border: 6px solid #819171;
    background-color: #fffdf3;
    width: 60%;
}


/****** Navigation ******/

#nav-menu {
    background-color: #fffdf3;
    padding: 12px 24px 1rem;
    display: flex;
    justify-content: right;
    position: sticky;
    top: 0;
}

#nav-menu ul {
    display: none; /* hide on mobile by default */
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-menu ul.active {
    display: flex;
    flex-direction: column;
}

#nav-menu ul li {
    margin: 0;
    padding: 0;
}

#nav-menu li a {
    display: inline-block;
    color: #995546;
    padding: 12px 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 99px;
    transition: all 0.2s;
    min-width: 150px;
    text-align: center;
}

#nav-menu li.active a,
#nav-menu li a:hover {
    background-color: #995546;
    color: #fffdf3;
}

#toggle-button {
    margin-left: auto;
    background-color: #819171;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.125em;
    transition: 0.2s all;
}

#toggle-button:hover,
#toggle-button:focus {
    background-color: #90a17e

}

#toggle-button:focus {
    background-color: #373d31

}

#nav-menu ul.active + #toggle-button {
    position: absolute;
    top: 16px;
    right: 16px;
}

img.nav-logo {
    width: 30%;
    margin-right: auto;
}

/****** Layout ******/
.container1 {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(12, 1fr);
    width: min(95%, 75em);
    margin: 0 auto;
    padding: 20px 20px;

    background-color: #995546;
    box-shadow: 0 0 36px -12px rgba (96, 108, 83, 0.35);
}

.container2 {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.container3 {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(12, 1fr);
    width: min(95%, 75em);
    margin: 0 auto;
    padding: 20px 20px;

    background-color: #394c39;
    box-shadow: 0 0 36px -12px rgba (96, 108, 83, 0.35);
}

.container > * {
    grid-column: span 12;
    padding-inline: 20px;
}

/* Footer */
.footer {
    padding: 12px 12px 1rem;
    background-color: #995546;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer-logo {
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  
.footer-text {
    color: #ffffff;
    text-align: left;
  }

.footer-text h1 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    font-weight: bold;
  }
  
.instagram-handle {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  
.insta-icon {
    height: 30px;
    width: 30px;
  }

.instagram-handle span {
    font-family: 'Oooh Baby', sans-serif;
    font-size: 1.5rem;
  }

  /****** Contact Section ******/

.contact-section {
    background-color: #394B39; /* Dark green background */
    color: #fffdf3;
    padding: 3rem 2rem;
  }
  
  img.contact-section {
    width: 100%;
  }

  .contact-header {
    max-width: 800px;
    margin: 0 auto 2rem auto;
    text-align: left;
  }
  
  .contact-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .contact-header p {
    font-size: 1rem;
    color: #fffdf3;
  }
  
  .contact-form {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .form-left,
  .form-right {
    flex: 1;
    min-width: 280px;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }
  
  input, textarea {
    background-color: #fffdf3;
    border: none;
    padding: 0.8rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    width: 100%;
    resize: vertical;
  }
  
  textarea {
    height: 250px;
  }

  .form-submit {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  button {
    background-color: #fffdf3;
    color: #394B39;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #cccccc;
    transform: scale(1.05);
  }
  

/* Card styles */
.card {
    background-color: #fff;
    text-align: center;
    margin: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0 0 24px -8px rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    overflow: hidden;
}

.card-title {
    padding: 0 2rem;
    text-align: center;
    color: #394c39;
}

.card-text {
    padding: 0 2rem;
    text-align: left;
    color: #394c39;
}

/* Button Styles */

a.button {
    display: block;
    min-width: 200px;
    padding: 12px 20px;
    margin-top: 20px;
    text-decoration: none;
    background-color: #5e7a5e;
    color: #fffdf3;
    text-align: center;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 1s ease;
    transition: transform 0.1s cubic-bezier(0.64, 0, 0.78, 0);
}

a.button:hover {
    transform: translateY(-2px);
    background-color: #394c39;
    color: #fffdf3;
    box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.56);
}

a.button:active {
    transform: translateY(2px);
    background-color: #485f48;
}



/* Desktop Layout */

@media (min-width: 40em) {
    #nav-menu ul {
        display: flex;
        flex-direction: row;
    }
    #toggle-button {
        display: none;
    }
    a.button {
        display: inline-block;
    }
    .col-span-12 {
        grid-column: span 12;
    }
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-4 {
        grid-column: span 4;
        justify-content: center;
    }

    .episodes-section {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    .card {
        flex: 0 1 324px;
    }
}


/* Mobile Functionality */
@media (max-width: 40em) {

    #nav-menu ul.active {
        display: flex;
        flex-direction: column;
    }
}