
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0;
    background-color: #fff;
    background-image: url("../images/bg.png");
}

/****** Elements ******/

header {
    text-align: left;
    background-color: #819171;
    color: #fff;
    padding: 30px 40px;
}

h1 {
    text-transform: uppercase;
    font-size: clamp(32px, 4vw, 48px);
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

aside {
    text-align: center;
    padding-top: 20;
}

img {
    width: 100%;
}

img.circle {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 999px;
    border: 6px solid #819171;
}

/****** Navigation ******/

#nav-menu {
    background-color: #606c53;
    padding: 12px 0 1rem;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

#nav-menu ul {
    display: none; /* hide on mobile by default */
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-menu ul.active {
    display: flex;
    flex-direction: column;
}

#nave-menu ul li {
    margin: 0;
    padding: 0;
}

#nav-menu li a {
    display: inline-block;
    color: #fff;
    padding: 12px 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 99px;
    transition: all 0.2s;
    min-width: 150px;
    text-align: center;
}

#nav-menu li.active a,
#nav-menu li a:hover {
    background-color: #90a17e;
}

#toggle-button {
    margin-left: auto;
}

#nav-menu ul.active + #toggle-button {
    position: absolute;
    top: 16px;
    right: 16px;
}

/****** Layout ******/
.container {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(12, 1fr);
    width: min(95%, 75em);
    margin: 0 auto;
    padding: 0 20px;

    background-color: #fff;
    box-shadow: 0 0 36px -12px rgba (96, 108, 83, 0.35);
}

.container > * {
    grid-column: span 12;
    padding-inline: 20px;
}

/* Button Styles */

a.button {
    display: block;
    min-width: 200px;
    padding: 12px 20px;
    margin-top: 20px;
    text-decoration: none;
    background-color: #819171;
    color: #fff;
    text-align: center;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 1s ease;
    transition: transform 0.1s cubic-bezier(0.64, 0, 0.78, 0);
}

a.button:hover {
    transform: translateY(-2px);
    background-color: #90a17e;
    box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.56);
}

a.button:active {
    transform: translateY(2px);
    background-color: #606c53;
}

a.button:visited {

}

/* Card styles */
.card {
    background-color: #fff;
    text-align: center;
    margin: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0 0 24px -8px rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    overflow: hidden;
}

.card-text {
    padding: 0 2rem;
}


/* Desktop Layout */

@media (min-width: 40em) {
    #nav-menu ul {
        display: flex;
        flex-direction: row;
    }
    #toggle-button {
        display: none;
    }
    a.button {
        display: inline-block;
    }
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-4 {
        grid-column: span 4;
    }

    .work-section {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    .card {
        flex: 0 1 324px;
    }
}